:host(mf-videos) {
	display: flex;
	flex-direction: column;
}

:host(mf-videos) .input-container {
	position: relative;
	align-items: center;
}

:host(mf-videos) h2 {
	font-size: 2rem / 1.4;
	color: rgb(117, 117, 117);
	font-weight: 400;
}

:host(mf-videos) #mf-videos__search {
	display: flex;
	width: 100%;
	max-width: 400px;
}

:host(mf-videos) .input-box+label {
	position: absolute;
	color: rgb(158, 158, 158);
	font-weight: 400;
	padding-left: 6px;
	padding-right: 6px;
	transition: all 0.15s linear 0s;
	background-color: white;
	left: 12px;
	top: 50%;
	transform: translateY(-220%);
	font-size: 12px;
}

:host(mf-videos) .input-box.empty+label {
	font-size: 1.4rem;
	transform: translateY(-50%);
}

:host(mf-videos) .input-box {
	border: 1px solid rgb(224, 224, 224);
	border-radius: 4px;
	outline: none;
	padding: 16px;
	font-size: 1.4rem;
	width: 100%;
	color: rgb(117, 117, 117);
}

:host(mf-videos) .input-box:focus {
	border: 1px solid rgb(117, 117, 117);
}

:host(mf-videos) .input-box:focus+label {
	transform: translateY(-220%);
	font-size: 12px;
}

:host(mf-videos) #mf-videos__search-icon {
	position: absolute;
	right: 12px;
	background-color: transparent;
	border: none;
	width: 24px;
	cursor: pointer;
	fill: rgb(144, 202, 249);
}

:host(mf-videos) #mf-videos__search-icon.disabled {
	pointer-events: none;
	opacity: 0.25;
}

:host(mf-videos) #mf-videos__search-icon:hover {
	fill: rgb(100, 181, 246);
}

:host(mf-videos) #mf-videos__search-results {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

:host(mf-videos) .mf-videos__video-container {
	position: relative;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 4px;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

:host(mf-videos) .mf-videos__favorite-icon {
	position: absolute;
	right: 8px;
	bottom: 8px;
	cursor: pointer;
}

:host(mf-videos) .mf-videos__favorite-icon .fill {
	opacity: 0;
}

:host(mf-videos) .mf-videos__favorite-icon:hover .fill {
	opacity: .5;
}

:host(mf-videos) .mf-videos__favorite-icon.favorite .fill {
	opacity: 1;
}