* {
	font-family: "Helvetica Neue", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	padding: 8px;
}

#root {
	display: flex;
	gap: 8px;
}

mf-drawer,
mf-videos {
	border: 1px solid rgb(224, 224, 224);
	padding: 16px;
	border-radius: 4px;
}

mf-drawer {
	width: 200px;
}

mf-videos {
	width: 100%;
}